$font-main: 			16px;

$font-titleSection:		1.5em;
$font-descSection:		1.125em;

$font-title:			1.875em;

$font-small: 			0.5em;

$thin: 					100;
$extraLight: 			200;
$light: 				300;
$regular: 				400;
$medium: 				500;
$semiBold: 				600;
$bold: 					700;
$extraBold: 			800;
$heavy: 				900;